<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="notification" href="/tabs/(notification:notification)">
      <ion-icon name="book-outline"></ion-icon>
      <div>Notifications</div>
    </ion-tab-button>

    <ion-tab-button tab="outbox" href="/tabs/(outbox:outbox)">
      <ion-icon name="albums-outline"></ion-icon>
      <div>Outbox</div>
    </ion-tab-button>

    <ion-tab-button tab="inbox" href="/tabs/(inbox:inbox)">
      <ion-icon name="log-in-outline"></ion-icon>
      <div>Inbox</div>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>